target_os = "android"
target_cpu = "arm64"
is_debug = false
is_component_build = false
symbol_level = 0
blink_symbol_level = 0
enable_nacl = false
ffmpeg_branding = "Chrome"
proprietary_codecs = true
enable_stripping = true
exclude_unwind_tables = true
